//Colors
$off-black: #20222b;
$off-white:#f7f7f7;
$dark-blue: #364051;
$grey:#666;
$dark-grey: #333;
$ourple : #8357c5;
$blue: #3c4251;
$light-blue: #464b5e;
$google-blue:  #2e7ce6;
//Sizing
$s-size : 1.2rem;
$m-size : 1.6rem;  
$l-size : 3.2rem;
$xl-size : 4.8rem;
$font-size-small:1.4rem;

$font-size-large:1.8rem;
$desktop-breakpoint: 45rem;
$mobile-breakpoint: 30rem;

